li a {
    color: green;
}
/*
body {
    background: white url("images/background.gif") no-repeat right bottom;
}
*/

.parsed {
    width: auto;
    height: auto;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.result_list {
    overflow: scroll;
    max-height:  324px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
}

.result_item {
    list-style: none;
    border-top: 1px #ccc dashed;
    padding: 3px;
    word-wrap: break-word;
    margin: 8px 0;
}

.result_field {
    background-color: #f7f7f7;
    margin: 8px 0;
}

#urldiv{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 10vh;
    padding-top: 10vh;
}

.errorlist{
    list-style-type: none;
}
/*
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/
.modal-dialog{
    min-width: 50vw;
}

/*.list-group, */.modal-body{
    overflow-y: scroll;
    /*overflow-x: hidden;*/
    max-height: 70vh;
    /*max-height: 75%;*/
}

/*.list-group-item > small{ */
.list-group-item > .one-line{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.additional-list{
    list-style-type: none;
}

li[name="hover"]:hover{
    cursor: pointer;
    background: lightgrey;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#body_div{
    margin-top: 12vh;
}

#phone{
    display: block;
    margin: 20px auto;
    padding: 40px 20px;
    /*padding: 90px 20px;*/
    border: 2px solid #e7e7e7;
    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    border-radius: 55px;
    background: #fff;
    position: relative;
    width: 80%;
    background: black;
}

#phone_border{
    border: 2px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.1);
}

#accordionExample {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.orangelink{
    color: orangered;
}

button[name="black-btn"]{
    /*color: black;*/
    color: white;
}

div[name="lightgrey"]{
    /*background: lightgrey;*/
}

.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer[class="py-3 bg-dark"]{
    margin-top: 5vh;
}

#list-tab{
    margin-top: 10%;
}

table[name="data-table"]{
    margin-bottom: 10vh;
}